#arm_dropdowns {
	display: flex;
	margin-left: 32px;
}
#arm_dropdowns div {
	margin-right: 24px;
}
.arm button.active-arm {
	background-color: #007bff;
	border-color: #006bef;
}

.arm_table {
	display: none;
	font-size: 1rem;
	padding: 16px;
}
.arm_table th, .arm_table td:nth-child(1) {
	padding: 8px 16px;
	min-width: 52px;
	text-align: center;
}
.arm_table .visit_total {
	padding-left: 8px;
}
.arm_table td {
	padding: 16px 24px;
}
.proc_cell {
	text-align: center;
}
.procedure, .proc_cell, .visit_total, .arm_table th:not(:first-child) {
	border: 1px solid gray;
}