#arm_dropdowns {
	display: flex;
	margin-left: 32px;
}
#arm_dropdowns div {
	margin-right: 24px;
}
.arm_table {
	display: none;
	font-size: 1rem;
	padding: 16px;
	border-collapse: separate;
}
.arm_table th, .arm_table td:nth-child(1) {
	padding: 8px 16px;
	min-width: 52px;
	text-align: center;
}
.arm_table .visit_total {
	border: 1px gray solid;
	padding-left: 8px;
}
.arm_table td {
	padding: 16px 24px;
}
.arm_table td:hover {
	background-color: #007bff20;
}
.proc_cell {
	text-align: center;
}