
#cc_summary {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#cc_summary table {
	width: 700px;
}

/* borders */
table.cc_rev_table, .cc_rev_table td, .cc_rev_table th, table.sites_contact_info, .sites_contact_info td, .sites_contact_info th {
	border: 1px solid black;
	font-size: 1rem;
	padding: 8px;
	text-align: center;
	border-collapse: collapse;
}

/* table.cc_rev_table, table.sites_contact_info { */
	/* max-width: 85%; */
	/* min-width: 50%; */
/* } */

.cc_rev_table th {
	color: white;
	padding: 6px 18px 24px 18px;
}

.table_title {
	font-weight: 200;
	font-size: 1.5rem;
	align-self: start;
	margin-left: 12%;
	margin-top: 24px;
}

.table_title a {
	font-weight: 200;
	font-size: 1.5rem;
	align-self: start;
}

.blue_table_headers th {
	background-color: #32344F;
}
.green_table_headers th {
	background-color: #1d9a78;
}

.budget_container h6 {
	margin-left: 15%;
}
.budget_container table {
	margin-bottom : 24px;
	font-size: 1rem;
	padding: 8px;
	text-align: center;
}
.budget_container table tbody tr:nth-child(odd) td {
	background-color: #F2F6FB;
}
.budget_container table tbody tr:nth-child(even) td {
	background-color: #E9ECF6;
}
.budget_container table tbody tr:nth-child(odd) td.nonzero {
	background-color: #c2edff;
}
.budget_container table tbody tr:nth-child(even) td.nonzero {
	background-color: #A6E0FF;
}
.budget_container table tbody tr:last-child td:first-child {
	background-color: #FFFFFF;
}

.budget_container th:not(:first-child), .budget_container td:not(.no-border) {
	border: 1px solid black;
}
.budget_container th, .budget_container td {
	padding: 8px;
}

.sites_contact_info td:first-child , .sites_contact_info th {
	font-weight: bold;
}
.sites_contact_info td, .sites_contact_info th {
	background-color: #EEEEEE;
}

@media print {
	/* div { float: none !important; position: static !important; display: inline;  */
          /* box-sizing: content-box !important; */
    /* } */
	/* .pba { */
		/* page-break-after: always; */
	/* } */
	/* .pbb { */
		/* page-break-before: always; */
	/* } */
	.extra-top-space {
		margin-top: 20px;
	}
}