#summary_review {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 24px;
}

#summary_review h3 {
	font-family: Calibri, sans-serif;
	font-weight: 600;
}

/* table titles */
.summary-table-header {
	text-decoration: underline;
	align-self: start;
	padding-left: 24px;
	font-size: 1.25rem;
	font-weight: 200;
}

#summary_review table {
	text-align: center;
	margin-bottom: 32px;
}

/* column widths */
table.fixed-costs th, table.fixed-costs td {
	word-wrap: break-word;
	max-width: 200px;
}
table.procedure-costs th, table.procedure-costs td {
	word-wrap: break-word;
	max-width: 180px;
}

/* padding */
#summary_review td, #summary_review th {
	padding: 8px;
}

/* borders */
#summary_review table, #summary_review td, #summary_review th {
	border: 1px solid black;
}

/* red no-go rows */
#summary_review table tr.no-go td {
	background-color: #ffa3a3;
}

/* table column header colors */
table.fixed-costs th {
	color: white;
	background-color: #323e4f;
}
table.procedure-costs th {
	color: white;
	background-color: #1d9a78;
}

.open_print {
	display: inline;
	color: blue;
	text-decoration: underline;
}